.radio-group {
  display: grid;
  gap: 0.5rem; /* khoảng cách 2 */
}

.radio-group-item {
  width: 1rem; /* 4 x 0.25rem */
  height: 1rem;
  border-radius: 9999px; /* full rounded */
  border: 1px solid var(--primary);
  color: var(--primary);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.radio-group-item:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.radio-group-item:focus-visible {
  box-shadow: 0 0 0 2px var(--ring);
}

.radio-group-indicator {
  width: 0.625rem; /* 2.5 x 0.25rem */
  height: 0.625rem;
  border-radius: 9999px;
  background-color: currentColor;
}
